<!DOCTYPE html>
<html>
	<head>
		<title>CHAT APP</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<link href="css/comp_chat.css" rel="stylesheet"  />
	</head>
	<body>
		<div class="comp_chat">
			<div class="content_chat">
				<div class="header">
					<h2>CHAT</h2>
				</div>

				<div class="caixa-msg">
					<ul class="msg_list">
						<li class="separator">
							<hr class="separator_hr" />
						</li>
						<!-- <li class="msg_container"><img src="images/f.svg" alt="f" class="avatar">oi</li>
						<li class="msg_container msg_suport">tchau<img src="images/g.svg" alt="g" class="avatar_suport"></li> -->
					</ul>
				</div>
				<div class="form-msg">
					<input
						id="text"
						type="text"
						autocomplete="off"
						placeholder="Digite sua mensagem aqui"
					/>
				</div>
			</div>
			<div class="floatbtn">
				<button type="button" class="chat-btn">
					<span
						class="glyphicon glyphicon-comment"
						aria-hidden="true"
					></span>
				</button>
			</div>
		</div>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/comp_chat.js"></script>
	</body>
</html>
